body{
  font-family: 'Lato', sans-serif;
}
p{
  text-align: center;
  color: #747704;
}
.container{
	width: 100%;
}
.row{
 width: 100%;
 display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}
.col-4{
  width: 33.3%;
}
.col-6{
  width: 50%;
}
.small-pic{
  width: 60vw;
  height:60vw;
  max-width: 333px;
  max-height: 333px;
  padding-right:10px;
}
.small-pic:last-to-type{
  margin: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #BCBBBB;
    margin: 1em 0;
    padding: 0; 
}
@media only screen and (max-width: 600px){
  .col-4{
    width: 50%;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1000px){
  .container{
    max-width: 1000px;
  }
  .row{
    max-width: 1000px;
  }
  hr{
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    size: 10px;
  }
}
