body{
  font-family: 'Lato', sans-serif;
}
.grid{
	width: 100%;
	max-width: 1200px;
}
.row{
 width: 100%;
 display: flex;
}
.col-2{
  width: 16.6%;
}
.col-4{
  width: 33.3%;
}
.col-6{
  width: 50%;
}
.col-10{
  width: 83.4%;
}
.col-12{
	width: 100%;
}
.small-pic{
  width: 80%;
  max-width: 400px;
  margin:10px;
}
img:last-to-type{
  margin: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
@media screen and (min-width: 1000px){
  .container{
    width: 80%;
  }
  .row{
    width: 50%;
  }
  .col-4{
    width:50%;
  }

}